@import url(../Tools/Pallete.css);
@import url(../Tools/Font.css);
/* Categories */
#CategoriesBox .Category
{
    border-color : var(--PrimaryColor);
}
#CategoriesBox h3
{
    color : var(--BlackColor);
}
/* Newest Job */
.JobCard-Info , .JobCard-Img
{
    border-color:var(--LineColor);
}
.Jobcard-UserImg
{
    border-color:var(--SecondaryColor);
    background-color : var(--BackColor);
}

.JobCard-Text h3
{
    color : var(--BlackColor);
}
.JobCard-Text p
{
    color : var(--TextColor);
}
/* WebLog */
.WeblogCard
{
    border-color:var(--LineColor);
}
.WebLog-Info h3
{
    color : var(--BlackColor);
}

/* Request */
.RequestCard
{
    border-color :var(--LineColor);
}
.RequestInfo h3
{
    color : var(--BlackColor);
}
#RequestTitle h2
{
    color : var(--BlackColor);
}
#RequestTitle p
{
    color : var(--TextColor);
}