@import url(../Tools/Font.css);

@media (max-width: 1440px) /*LapTop*/
{
    #CourseList , #WebLogSort
    {
        height: 110px;
    }
    #CourseList li , #WebLogSort li
    {
        font-size: 24px;
    }
}

@media (max-width: 1024px) /*LapTop*/
{
    #CourseList , #WebLogSort
    {
        height: 100px;
    }
    #CourseList li , #WebLogSort li
    {
        font-size: 22px;
    }
}

@media (max-width: 1024px) /*LapTop*/
{
    #CourseList , #WebLogSort
    {
        height: 80px;
    }
    #CourseList li , #WebLogSort li
    {
        font-size: 18px;
    }
}